/** @format */

.nby-remaining {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stats-counter p {
    font-size: 1rem;
    color: #000;
  }

  .counter {
    color: #000;
    font-size: 1rem;
  }
}

.nby-profile-button {
  margin-top: 20px;
}

.modal-content {
  padding: 20px; /* Padding around the modal content */
}

.nby-input-field {
  display: flex;
  flex-direction: column;
  width: 100%; /* Space between input fields */
}
.nby-input-field input {
  width: 100% !important;
  max-width: 100% !important;
}

.short-input {
  width: 100%; /* Full width */
  max-width: 300px; /* Maximum width for input fields */
  height: 35px; /* Height of the input fields */
  font-size: 14px; /* Font size for input text */
}

.modal-footer {
  display: flex; /* Flexbox for footer alignment */
  justify-content: space-between; /* Space between buttons */
}

.modal-footer .btn {
  min-width: 100px; /* Minimum width for buttons */
}
