/** @format */

.nby-remaining {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stats-counter p {
    font-size: 1rem;
    color: #000;
  }

  .counter {
    color: #000;
    font-size: 1rem;
  }
}

.nby-profile-button {
  margin-top: 20px;
}

.modal-content {
  padding: 20px; /* Padding around the modal content */
}

.nby-input-field {
  display: flex;
  flex-direction: column;
  width: 100%; /* Space between input fields */
}
.nby-input-field input {
  width: 100% !important;
  max-width: 100% !important;
}

.short-input {
  width: 100%; /* Full width */
  max-width: 300px; /* Maximum width for input fields */
  height: 35px; /* Height of the input fields */
  font-size: 14px; /* Font size for input text */
}

.modal-footer {
  display: flex; /* Flexbox for footer alignment */
  justify-content: space-between; /* Space between buttons */
}

.modal-footer .btn {
  min-width: 100px; /* Minimum width for buttons */
}

/* Table Row Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ddd; /* Add border to table cells */
}

/* Action Button Styles */
td a {
  display: flex;
  align-items: center; /* Center align icon and text */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Default text color */
  margin-right: 10px; /* Space between buttons */
  padding: 5px 10px; /* Padding around buttons */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background transition */
}

/* Icon Styles */
td a i {
  margin-right: 5px; /* Space between icon and text */
}

/* Button Hover Effects */
td a:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

/* Specific Button Colors */
.waves-effect.waves-green {
  background-color: #4caf50; /* Green for Active */
  color: white; /* White text */
}

.waves-effect.waves-red {
  background-color: #f44336; /* Red for Inactive */
  color: white; /* White text */
}

.waves-effect.waves-green:hover,
.waves-effect.waves-red:hover {
  opacity: 0.8; /* Slightly transparent on hover */
}

.nby-employee-image {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
