/** @format */

.toggle-password {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.nby-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.nby-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.nbyit-logo {
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nby-backlink {
  font-size: 1.5rem;
  font-weight: 400;
  color: #00a2ff;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}
