/**
 * Write your custom CSS here
 *
 * @format
 */

.login-menu-sidebar {
  line-height: 20px !important;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999; /* Make sure it appears above other content */
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360 deg);
  }
}
